@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: "Poppins", sans-serif;
}

body {
	scrollbar-width: thin;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	height: 12px;
	width: 6px;
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: #ff9346;
}
